.mainImage{
    height: 50px;
    width: 50px;
    /* display:inline-block; */
}
.mainAfter{
    /* display: inline-block; */
    text-align: center;
    font-size: 1.5rem;
}
h1{
    font-size:2.2rem;
    text-align: center;
}
.weatheraCondition{
    height: 50px;
    width: 50px;
}