/* body{
  background-image: url('./Image/bg_img.png');
} */
body{
  width: 99% !important;
  font-family: monospace;
  background-color: rgb(32, 28, 28) !important;
  /* color: white !important; */
}